:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 40px;
}

p.ex1 {
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 250px;
}

p.ex2 {
  font-size: smaller;
}
div.ex1:hover {
  background-color: #00425c;
  color: white;
}

/* Outside resources
https://www.w3schools.com/css/css3_images.asp



*/
